@{
    Page.Title = "Beheer";
    Layout = "_SiteLayout.cshtml";

    // Authentication
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/BeheerLogin.cshtml");
    }

    //Logout
    if (!Request["buttonLogout"].IsEmpty())
    {
        WebSecurity.Logout();
        Response.Redirect("~/Default.cshtml");
    }

    // Open database connection
    var db = Database.Open("Database");
    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("nl-NL");

    // SQL statement for concerts
    var statement = "SELECT * FROM Concerten ORDER BY datum DESC";
    var dataConcerten = db.Query(statement);

    // Create a table (WebGrid) with coming concerts
    var grid = new WebGrid(source: dataConcerten, defaultSort: "Datum");
    grid.SortDirection = SortDirection.Ascending;

    // Huidige zalen weergeven
    // SQL statement
    var statementZalen = "SELECT * FROM Zalen";
    var dataZalen = db.Query(statementZalen);

}
<div id="body" class="container">
    <h2 class="toptext">Beheer</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Welkom!</h3>
            <hr />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit tincidunt condimentum. Quisque sit amet vehicula tellus, ut faucibus elit. Morbi fringilla nulla at ex molestie ullamcorper. Mauris nec porttitor nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean elementum massa id egestas elementum. Ut pretium nibh in ligula tincidunt condimentum. Duis a malesuada enim.</p>
            <form method="post">
                <p>
                    <input name="buttonLogout" type="submit" style="width:100%" class="btn btn-danger" value="Uitloggen" />
                </p>
            </form>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Huidige zalen</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <a href="~/ZaalToevoegen.cshtml" class="btn btn-sm btn-danger btn-create">Nieuwe zaal</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table-hover table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th>Zaal nummer</th>
                                <th>Aantal plekken</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in dataZalen)
                            {
                                <tr>
                                    <td>@item.zaal_nr</td>
                                    <td>@item.aantal_plekken</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @*<div class="panel-footer">
                <div class="row">
                    <div class="col col-xs-4">
                        Page 1 of 5
                    </div>
                    <div class="col col-xs-8">
                        <ul class="pagination hidden-xs pull-right">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <ul class="pagination visible-xs pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Concerten</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <a href="~/ConcertToevoegen.cshtml" class="btn btn-sm btn-danger btn-create">Nieuw concert</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table-hover table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Tijd</th>
                            <th>Naam</th>
                            <th>Artiest</th>
                            <th>Prijs</th>
                            <th class="text-center"><em class="fa fa-cog"></em></th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var item in dataConcerten)
                        {
                            DateTime datum = item.Datum;

                            <tr>
                                <td class="agenda-date active" rowspan="1">
                                    <div class="dayofmonth">@datum.Day</div>
                                    <div class="dayofweek">@datum.ToString("dddd", ci)</div>
                                    <div class="shortdate text-muted">@datum.ToString("MMMM", ci), @datum.Year</div>
                                </td>
                                <td>
                                    @datum.ToString("H:mm")
                                </td>
                                <td>
                                    @item.Naam
                                </td>
                                <td>
                                    @item.Artiest
                                </td>
                                <td>
                                    &euro;@item.Prijs
                                </td>
                                <td align="center">
                                    <a href="~/ConcertInfo.cshtml?id=@item.ID" class="btn btn-secondary"><i class="fa fa-info"></i></a>
                                    <a href="~/ConcertWijzigen.cshtml?id=@item.ID" class="btn btn-secondary"><i class="fa fa-pencil"></i></a>
                                    <a href="~/ConcertVerwijderen.cshtml?id=@item.ID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*<div class="panel-footer">
                <div class="row">
                    <div class="col col-xs-4">
                    </div>
                    <div class="col col-xs-8">
                        <ul class="pagination hidden-xs pull-right" id="myPager"></ul>
                        <ul class="pagination visible-xs pull-right">
                            <li><a href="#">«</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
