@{
    Page.Title = "Beheer";
    Layout = "_SiteLayout.cshtml";

    // Authentication
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/BeheerLogin.cshtml");
    }

    // Open database connection
    var db = Database.Open("Database");

    // Variables
    var concertId = 0;
    var name = "";
    var artist = "";
    var description = "";
    var theater = 0;
    var price = Decimal.One;
    var date = DateTime.Now;
    var photo = "";
    var video = "";
    var useVideo = false;
    var videoID = "";

    // GET request
    if (!IsPost)
    {
        if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt())
        {
            concertId = Convert.ToInt32(Request.QueryString["id"]);

            var statement = "SELECT * FROM Concerten WHERE id = @0";
            var row = db.QuerySingle(statement, concertId);

            if (row != null)
            {
                name = row.naam;
                artist = row.artiest;
                description = row.beschrijving;
                price = row.prijs;
                date = row.datum;
            }
            else
            {
                Validation.AddFormError("Geen concert geselecteerd.");
            }
        }
        else
        {
            Validation.AddFormError("Geen concert geselecteerd.");
        }
    }

    // POST request
    if (IsPost)
    {
        // Validation
        Validation.RequireFields("concertId", "name", "description", "theater", "price", "date"); // more

        if (Validation.IsValid())
        {
            // POST values
            concertId = Convert.ToInt32(Request.Form["concertId"]);
            name = Request.Form["name"];
            artist = Request.Form["artist"];
            description = Request.Form["description"];
            theater = Convert.ToInt32(Request.Form["theater"]);
            price = Convert.ToDecimal(Request.Form["price"]);
            date = Convert.ToDateTime(Request.Form["date"]);

            var statement = "UPDATE Concerten SET naam = @0, artiest = @1, beschrijving = @2, zaal_nr = @3, prijs = @4, datum = @5 WHERE id = @6";
            db.Execute(statement, name, artist, description, theater, price, date, concertId);

            // Redirect to administration page
            Response.Redirect("~/Beheer.cshtml");
        }
    }
}
<div class="container" id="body">
    <h2 class="toptext">Concert wijzigen</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
        @Html.ValidationSummary()
        <form method="post">
            <fieldset>
                <legend>Concert Informatie</legend>

                <p class="centertext">
                    <label for="name">Concert naam:</label>
                    </p>
                <p class="centertext">
                    <input type="text" name="name" value="@name" />
                </p>
                <br />

                <p class="centertext">
                    <label for="artist">Artiest:</label>
                </p>
                <p class="centertext">
                    <input type="text" name="artist" value="@artist" />
                </p>
                <br />

                <p class="centertext">
                    <label for="description">Beschrijving:</label>
                    </p>
                <p class="centertext">
                    <textarea name="description">@description</textarea>
                </p>
                <br />

                <p class="centertext">
                    <label for="theater">Zaal:</label>
                    <select name="theater" required>
                        @foreach (var item in db.Query("SELECT * FROM Zalen"))
                        {
                            <option value="@item.zaal_nr">Zaal @item.zaal_nr: @item.aantal_plekken plekken</option>
                        }
                    </select>
                </p>
                <br />

                <p class="centertext">
                    <label for="price">Prijs:</label>
                </p>
                <p class="centertext">
                    <input type="number" name="price" step="0.01" min="0.01" max="99" value="@price" required />
                </p>
                <br />

                <p class="centertext">
                    <label for="date">Datum:</label>
                    </p>
                <p class="centertext">
                    <input type="datetime-local" name="date" value="@date" />
                </p>
                <br />

                <input type="hidden" name="concertId" value="@concertId" />

                <p class="centertext">
                    <input type="submit" class="btn btn-danger" value="Wijzig Concert" />
                </p>
            </fieldset>
        </form>
        <br />
        <p class="centertext">
            <a href="~/Beheer.cshtml" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Terug naar beheer</a>
        </p>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>