@{
    Page.Title = "Concert Toevoegen";
    Layout = "_SiteLayout.cshtml"; // Dit is de standaard SiteLayout.cshtml, deze moeten we zelf aanpassen naar onze wensen

    // Authentication
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/BeheerLogin.cshtml");
    }

    // Open database connection
    var db = Database.Open("Database");

    // Validation (misschien extra validatie? IsInt() etc...)
    Validation.RequireFields("name", "artist", "description", "price", "theater", "date");

    // Handle the POST request
    if (IsPost)
    {
        if (Validation.IsValid())
        {
            // Read POST form values
            var name = Request.Form["name"];
            var artist = Request.Form["artist"];
            var description = Request.Form["description"];
            var price = Request.Form["price"];
            var theater = Request.Form["theater"];
            var date = Request.Form["date"];
            WebImage photo = WebImage.GetImageFromRequest();
            var video = "";
            video = Request.Form["video"];

            // Image upload
            if (photo != null)
            {
                var fileName = Guid.NewGuid().ToString() + "_" +
                    Path.GetFileName(photo.FileName);
                var imagePath = @"imageUploads\" + fileName;
                photo.Save(@"~\" + imagePath);

                // SQL statement
                var statement = "INSERT INTO Concerten (naam, artiest, beschrijving, prijs, zaal_nr, datum, foto, video) VALUES (@0, @1, @2, @3, @4, @5, @6, @7)";
                db.Execute(statement, name, artist, description, price, theater, date, @"\" + imagePath, video);

                // Redirect to administration page
                Response.Redirect("~/Beheer.cshtml");
            }
            else
            {
                Validation.AddFormError("Ongeldige of geen foto toegevoegd.");
            }
        }
    }
}
<div class="container" id="body">
    <h2 class="toptext">Concert toevoegen</h2>
    <hr />
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Concert informatie</legend>
                    <p class="centertext"><label for="name">Concert naam:</label></p>
                    <p class="centertext">
                        <input class="btn-block text-center" type="text" name="name" value="@Request.Form["name"]" required />
                        @Html.ValidationMessage("name")
                    </p>
                    <br />

                    <p class="centertext"><label for="artist">Artiest:</label></p>
                    <p class="centertext">
                        <input class="btn-block text-center" type="text" name="artist" value="@Request.Form["artist"]" required />
                        @Html.ValidationMessage("artist")
                    </p>
                    <br />

                    <p class="centertext"><label for="description">Beschrijving:</label></p>
                    <p class="centertext">
                        <textarea class="btn-block" name="description" rows="4" cols="50" required>@Request.Form["description"]</textarea>
                        @Html.ValidationMessage("description")
                    </p>
                    <br />

                    <p class="centertext"><label for="price">Prijs (in euro's):</label></p>
                    <p class="centertext">
                        <input class="text-center" type="number" name="price" step="0.01" min="0.01" max="99" value="@Request.Form["price"]" required />
                        @Html.ValidationMessage("price")
                    </p>
                    <br />

                    <p class="centertext">
                        <label for="theater">Zaal:</label>
                        <select name="theater" required>
                            @foreach (var item in db.Query("SELECT * FROM Zalen"))
                            {
                                <option value="@item.zaal_nr">Zaal @item.zaal_nr: @item.aantal_plekken plekken</option>
                            }
                        </select>
                        @Html.ValidationMessage("theater")
                    </p>
                    <br />

                    <p class="centertext"><label for="date">Datum en tijd:</label></p>
                    <p class="centertext">
                        <input type="datetime-local" name="date" value="@Request.Form["date"]" required />
                        @Html.ValidationMessage("date")
                    </p>
                    <br />

                    <p class="centertext"><label for="photo">Foto:</label></p>
                    <p class="centertext">
                        <input type="file" name="photo" value="@Request.Form["photo"]" accept="image/*" required />
                    </p>
                    <br />

                    <p class="centertext"><label for="video">YouTube Video URL (optioneel)</label></p>
                    <p class="centertext">
                        <input type="text" name="video" value="@Request.Form["video"]" />
                        @Html.ValidationMessage("video")
                    </p>
                    <br />
                    <p class="centertext">
                        <input type="submit" class="btn btn-danger" value="Concert toevoegen" />
                    </p>
                </fieldset>
            </form>
            <br />
            <p class="centertext">
                <a href="~/Beheer.cshtml" class="btn btn-danger"><i class="fa fa-arrow-left"></i> Terug naar beheer</a>
            </p>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
