﻿@{
    Page.Title = "Ticket Bestellen";
    Layout = "~/_SiteLayout.cshtml";

    // Open database connection
    var db = Database.Open("Database");

    // Variables
    var concertId = 0;
    var name = "";
    var artist = "";
    var description = "";
    var price = Decimal.One;
    var date = DateTime.Now;
    var photo = "";
    var video = "";
    var useVideo = false;
    var videoID = "";

    if (!IsPost)
    {
        if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt())
        {
            // Concert ID from query string (GET value)
            concertId = Convert.ToInt32(Request.QueryString["id"]);

            // SQL statement
            var statement = "SELECT * FROM Concerten WHERE id = @0";
            var row = db.QuerySingle(statement, concertId);

            if (row != null)
            {
                name = row.naam;
                artist = row.artiest;
                description = row.beschrijving;
                price = row.prijs;
                date = row.datum;
                photo = row.foto;
                video = row.video;

                // Validate video URL (because video = optional)
                try
                {
                    // Parse videoID from youtube video URL (for embedding it into iframe)
                    var youtubeUri = new Uri(video);
                    var query = HttpUtility.ParseQueryString(youtubeUri.Query);
                    videoID = query["v"];
                    useVideo = true;
                }
                catch
                {

                }
            }
            else
            {
                Validation.AddFormError("Geen concert geselecteerd.");
            }
        }
        else
        {
            Validation.AddFormError("Geen concert geselecteerd.");
        }
    }

    if (IsPost)
    {
        // Validation
        Validation.RequireFields("concertId", "numberOfTickets", "numberOfDiscountTickets");

        // Read POST form values
        concertId = Convert.ToInt32(Request.Form["concertId"]);
        var numberOfTickets = Convert.ToInt32(Request.Form["numberOfTickets"]);
        var numberOfDiscountTickets = Convert.ToInt32(Request.Form["numberOfDiscountTickets"]);

        if (Validation.IsValid())
        {
            // List of current tickets
            List<Ticket> cart = new List<Ticket>();

            if (Session["cart"] != null)
            {
                cart = (List<Ticket>)Session["cart"];
            }

            // Add regular tickets to cart
            for (int i = 0; i < numberOfTickets; i++)
            {
                Ticket ticket = new Ticket(concertId, false);
                cart.Add(ticket);
            }

            // Add discount tickets to cart
            for (int i = 0; i < numberOfDiscountTickets; i++)
            {
                Ticket ticket = new Ticket(concertId, true);
                cart.Add(ticket);
            }

            // Store list of tickets in cart
            Session["cart"] = cart;

            // Redirect to cart
            Response.Redirect("~/Winkelwagen.cshtml");
        }
    }
}
<h2>Ticket Bestellen</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Ticket Informatie</legend>
        <p>
            <img src="@photo" alt="Foto" height="50" widht="50" />
        </p>

        @if (useVideo)
        {
            <p>
                <iframe id="ytplayer" type="text/html" width="640" height="360"
                        src="https://www.youtube.com/embed/@videoID?autoplay=0"
                        frameborder="0"></iframe>
            </p>
        }

        <p>
            <label for="name">Concert naam:</label>
            <input type="text" name="name" value="@name" readonly />
        </p>

        <p>
            <label for="artist">Artiest:</label>
            <input type="text" name="artist" value="@artist" readonly />
        </p>

        <p>
            <label for="description">Beschrijving:</label>
            <textarea name="description" rows="4" cols="50" readonly>@description</textarea>
        </p>

        <p>
            <label for="price">Prijs</label>
            <input type="text" name="price" value="&euro;@price" readonly />
        </p>

        <p>
            <label for="date">Datum en tijd:</label>
            <input type="text" name="date" value="@date" readonly />
        </p>

        <input type="hidden" name="concertId" value="@concertId" />

    </fieldset>

    <fieldset>
        <legend>Uw gegevens:</legend>
        <p>
            <label for="numberOfTickets">Aantal reguliere tickets</label>
            <input type="number" name="numberOfTickets" min="0" value="@Request.Form["numberOfTickets"]" required />
            @Html.ValidationMessage("numberOfTickets")
        </p>

        <p>
            <label for="numberOfDiscountTickets">Tickets met korting *</label>
            <input type="number" name="numberOfDiscountTickets" min="0" value="@Request.Form["numberOfDiscountTickets"]" required />
            @Html.ValidationMessage("numberOfDiscountTickets")
        </p>

        <p>
            <input type="submit" value="Tickets toevoegen" />
        </p>

        <p>
            * Alleen voor kinderen onder de 16 jaar en 65-plussers
        </p>
    </fieldset>
</form>