﻿@{
    Page.Title = "Ticket Bestellen";
    Layout = "~/_SiteLayout.cshtml";

    // Open database connection
    var db = Database.Open("Database");
    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("nl-NL");

    // Variables
    var data = 0;
    var zaal = 0;
    var concertId = 0;
    var name = "";
    var artist = "";
    var description = "";
    var price = Decimal.One;
    var date = DateTime.Now;
    var photo = "";
    var video = "";
    var useVideo = false;
    var videoID = "";
    string message = "";

    var statement = "SELECT * FROM Concerten WHERE id = @0";
    var row = db.QuerySingle(statement, Convert.ToInt32(Request.QueryString["id"]));

    var statement2 = ("SELECT COUNT(*) FROM Tickets WHERE concertId = @0");
    data = db.QueryValue(statement2, Convert.ToInt32(Request.QueryString["id"]));

    var statement3 = ("SELECT aantal_plekken FROM Zalen WHERE zaal_nr = @0");
    zaal = db.QueryValue(statement3, row.zaal_nr);

    if (!IsPost)
    {
        if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt())
        {
            // Concert ID from query string (GET value)

            if (row != null)
            {
                name = row.naam;
                artist = row.artiest;
                description = row.beschrijving;
                price = row.prijs;
                date = row.datum;
                photo = row.foto;
                video = row.video;

                // Validate video URL (because video = optional)
                try
                {
                    // Parse videoID from youtube video URL (for embedding it into iframe)
                    var youtubeUri = new Uri(video);
                    var query = HttpUtility.ParseQueryString(youtubeUri.Query);
                    videoID = query["v"];
                    useVideo = true;
                }
                catch
                {

                }
            }
            else
            {
                Validation.AddFormError("Geen concert geselecteerd.");
            }
        }
        else
        {
            Validation.AddFormError("Geen concert geselecteerd.");
        }
    }

    if (IsPost)
    {
        // Validation
        Validation.RequireFields("concertId", "numberOfTickets", "numberOfDiscountTickets");

        // Read POST form values
        concertId = Convert.ToInt32(Request.Form["concertId"]);
        var numberOfTickets = Convert.ToInt32(Request.Form["numberOfTickets"]);
        var numberOfDiscountTickets = Convert.ToInt32(Request.Form["numberOfDiscountTickets"]);

        if (Validation.IsValid())
        {
            if ((numberOfDiscountTickets + numberOfTickets) > (zaal - data))
            {
                Response.Redirect("~/Concerten.cshtml");
            }

            else {
                // List of current tickets
                List<Ticket> cart = new List<Ticket>();

                if (Session["cart"] != null)
                {
                    cart = (List<Ticket>)Session["cart"];
                }

                // Add regular tickets to cart
                for (int i = 0; i < numberOfTickets; i++)
                {
                    Ticket ticket = new Ticket(concertId, false);
                    cart.Add(ticket);
                }

                // Add discount tickets to cart
                for (int i = 0; i < numberOfDiscountTickets; i++)
                {
                    Ticket ticket = new Ticket(concertId, true);
                    cart.Add(ticket);
                }

                // Store list of tickets in cart
                Session["cart"] = cart;
                Response.Redirect("~/Winkelwagen.cshtml");
            }
        }
    }
}
<div id="body" class="container">
    <h2 class="toptext">@name</h2>
    <p class="ondertekst"><b>Met:</b> @artist &#9;&#9;<b>Prijs:</b> &euro;@price &#9;&#9; <b>Wanneer:</b> @date.ToString("dddd", ci) @date.Day @date.ToString("MMMM", ci) @date.Year</p>
    <hr />
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-6" id="optreden">
            <p>
                <img src="@photo" alt="Foto" />
            </p>
            <button class="btn btn-default" style="width:100%" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <b>Meer informatie</b>
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-block">
                    <p id="beschrijving">@description</p>
                    @if (useVideo)
                    {
                        <div class="intrinsic-container">
                            <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/@videoID?autoplay=0" allowfullscreen frameborder="0"></iframe>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6" id="optreden">
            <h3 class="text-center">Tickets kopen</h3>
            <hr />
            <form method="post">
                <fieldset>
                    <legend>Uw gegevens:</legend>
                    @*<p>
                        <label for="email">Uw e-mailadres</label>
                        <input type="email" class="form-control" name="email" value="@Request.Form["email"]" required />
                        @Html.ValidationMessage("email")
                    </p>*@
                    <p>
                        <label for="numberOfTickets">Aantal reguliere tickets</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default value-control" type="button" data-action="minus" data-target="regtick"><i class="fa fa-minus fa-lg" aria-hidden="true"></i></button>
                            </span>
                            <input name="numberOfTickets" type="number" class="form-control no-padding add-color text-center height-25" id="regtick" maxlength="3" value="0" required>
                            <span class="input-group-btn">
                                <button class="btn btn-default value-control" type="button" data-action="plus" data-target="regtick"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        @Html.ValidationMessage("numberOfTickets")
                    </p>

                    <p>
                        <label for="numberOfDiscountTickets">Tickets met korting*</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default value-control" type="button" data-action="minus" data-target="distick"><i class="fa fa-minus fa-lg" aria-hidden="true"></i></button>
                            </span>
                            <input name="numberOfDiscountTickets" type="number" class="form-control no-padding add-color text-center height-25" id="distick" maxlength="3" value="0" required>
                            <span class="input-group-btn">
                                <button class="btn btn-default value-control" type="button" data-action="plus" data-target="distick"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        @Html.ValidationMessage("numberOfDiscountTickets")
                    </p>

                    <input type="hidden" name="concertId" value="@concertId" />

                    <p>
                        @if(data < zaal)
                        {
                        <input type="submit" style="width:100%" class="btn btn-danger" value="Tickets toevoegen" />
                        }
                        else
                        {
                         <input type="submit" style="width:100%" class="btn btn-danger" value="UITVERKOCHT" disabled />
                        }
                    </p>

                    <p>
                        * Alleen voor kinderen onder de 16 jaar en 65-plussers
                        @message
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>