@{
    Page.Title = "Winkelwagen";
    Layout = "~/_SiteLayout.cshtml";

    // Open database connection
    var db = Database.Open("Database");
    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("nl-NL");

    // Create empty list of tickets
    List<Ticket> cart = new List<Ticket>();

    // Check if cart exists in current session
    if (Session["cart"] != null)
    {
        // Fill cart (List) with Tickets from session;
        cart = (List<Ticket>)Session["cart"];
    }

    // Prijzen berekenen
    var concertData = "SELECT * FROM Concerten";
    var concertenRow = db.Query(concertData);

    decimal total = 0.00m;
    // Loop through all tickets that belong to this bestelling
    foreach (var ticket in cart)
    {
        var korting = ticket.Korting;
        var concertId = ticket.Concert;

        var prijsData = "SELECT prijs FROM Concerten WHERE id = @0";
        var prijs = db.QueryValue(prijsData, concertId);

        if (korting)
        {
            total += (prijs / 10) * 9;
        }
        else
        {
            total += prijs;
        }
    }

    // Read POST form values
    if (!Request["refreshButton"].IsEmpty())
    {
        foreach (var concert in concertenRow)
        {
            var concertId = concert.id;
            cart.RemoveAll(Ticket => Ticket.Concert == concertId);
            var numberOfDiscountTickets = Convert.ToInt32(Request.Form["numberOfDiscountTickets?id="+concertId]);
            var numberOfTickets = Convert.ToInt32(Request.Form["numberOfTickets?id="+concertId]);

            for (int i = 0; i < numberOfTickets; i++)
            {
                Ticket ticket = new Ticket(concertId, false);
                cart.Add(ticket);
            }

            // Add discount tickets to cart
            for (int i = 0; i < numberOfDiscountTickets; i++)
            {
                Ticket ticket = new Ticket(concertId, true);
                cart.Add(ticket);
            }

            // Store list of tickets in cart
            Session["cart"] = cart;

            // Redirect to cart
            Response.Redirect("~/Winkelwagen.cshtml");
        }
    }

    // Validation
    if (!WebSecurity.IsAuthenticated)
    {
        Validation.RequireFields("email");
    }

    // POST request
    if (!Request["buttonBetalen"].IsEmpty())
    {
        if (Validation.IsValid())
        {
            if (cart.Any())
            {
                // POST request values
                var email = Request.Form["email"];

                if (WebSecurity.IsAuthenticated)
                {
                    email = "ticketsysteem@nhl.nl";
                }

                // SQL statement for bestelling insertion (betaald attribute of bestelling is by default FALSE)
                var statementBestelling = "INSERT INTO Bestellingen (email) VALUES (@0)";

                // Insert new bestelling into database
                db.Execute(statementBestelling, email);

                // Fetch bestelNr (unique ID) from database
                var bestelNr = Convert.ToInt32(db.QueryValue("SELECT @@IDENTITY")); // // @@IDENTITY retrieves last auto generated id (auto_incremented) of this (current) connection

                // SQL statement for ticket insertion
                var statementTicket = "INSERT INTO Tickets (kindOf65plus, concertId, bestel_nr) VALUES (@0, @1, @2)";

                // Loop through cart, add each ticket with it attributes to the database:
                // linked to the bestelling created earlier, which is still unpaid: which
                // makes the tickets invalid for now!!!
                foreach (Ticket ticket in cart)
                {
                    // Check if this is a discount ticket
                    if (ticket.Korting)
                    {
                        db.Execute(statementTicket, 1, ticket.Concert, bestelNr);
                    }
                    else
                    {
                        db.Execute(statementTicket, 0, ticket.Concert, bestelNr);
                    }
                }

                // Remove everything from cart (session) and abandon session
                Session.RemoveAll();
                Session.Abandon();

                // Redirect to payment page with bestelNr in the request
                // bestelNr makes it possible to retrieve all tickets linked to this bestelling
                if (!WebSecurity.IsAuthenticated)
                {
                    Response.Redirect("~/Betalen.cshtml?id=" + bestelNr);
                }

                else
                {
                    var betaalStatement = "UPDATE Bestellingen SET betaald = 1 WHERE id = @0";
                    db.Execute(betaalStatement, bestelNr);
                    Response.Redirect("~/TicketGenereren.cshtml?id=" + bestelNr);
                }
            }

            else
            {
                Validation.AddFormError("Winkelwagen is leeg.");
            }
        }
    }
}
<div class="container" id="body">
    <h2 class="toptext">Winkelwagen</h2>
    <hr />
    @Html.ValidationSummary()
    @if (cart.Any())
    {
        // Show all tickets in cart
        <div class="row">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Concert</th>
                        <th style="width:10%">Prijs</th>
                        <th style="width:8%">Aantal</th>
                        <th style="width:22%" class="text-center">Subtotaal</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                    <tbody>
                        @foreach (var concert in concertenRow)
                        {
                            int aantal = 0;
                            var concertName = "";
                            decimal concertPrice = 0.00m;
                            DateTime datum = DateTime.MinValue;
                            foreach (Ticket ticket in cart)
                            {
                                if (ticket.Korting == true)
                                {
                                    if (ticket.Concert == concert.id)
                                    {
                                        concertPrice = concert.prijs * 0.9m;
                                        concertName = concert.naam.ToString() + " met korting";
                                        datum = concert.datum;
                                        aantal++;
                                    }
                                }
                            }
                            var subtotal = aantal * concertPrice;
                            if (aantal != 0)
                            {
                                <tr>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <h4 class="nomargin">@concertName</h4>
                                                <p>@datum.ToString("dddd", ci) @datum.Day @datum.ToString("MMMM", ci) @datum.Year</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Prijs">&euro; @concertPrice</td>
                                    <td data-th="Aantal">
                                        <form method="post">
                                            <input name="numberOfDiscountTickets?id=@concert.id" type="number" class="form-control text-center" value="@aantal">
                                        </form>
                                    </td>
                                    <td data-th="Subtotal" class="text-center">&euro; @subtotal</td>
                                    <td class="actions" data-th="">
                                        <form method="post">
                                            <button name="refreshButton" class="btn btn-info btn-sm" type="submit"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-trash-o"></i></button>
                                            <input type="hidden" name="concertId" value="@concert.id" />
                                        </form>
                                    </td>
                                </tr>
                            }
                            aantal = 0;
                            foreach (Ticket ticket in cart)
                            {
                                if (ticket.Korting == false)
                                {
                                    if (ticket.Concert == concert.id)
                                    {
                                        concertPrice = concert.prijs * 1.00m;
                                        concertName = concert.naam.ToString();
                                        datum = concert.datum;
                                        aantal++;
                                    }
                                }
                            }
                            subtotal = aantal * concertPrice;
                            if (aantal != 0)
                            {
                                <tr>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <h4 class="nomargin">@concertName</h4>
                                                <p>@datum.ToString("dddd", ci) @datum.Day @datum.ToString("MMMM", ci) @datum.Year</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Prijs">&euro; @concertPrice</td>
                                    <td data-th="Aantal">
                                        <form method="post">
                                            <input name="numberOfTickets?id=@concert.id" type="number" class="form-control text-center" value="@aantal">
                                        </form>
                                    </td>
                                    <td data-th="Subtotal" class="text-center">&euro; @subtotal</td>
                                    <td class="actions" data-th="">
                                        <form method="post">
                                            <button name="refreshButton" class="btn btn-info btn-sm" type="submit"><i class="fa fa-refresh"></i></button>
                                            <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-trash-o"></i></button>
                                            <input type="hidden" name="concertId" value="@concert.id" />
                                        </form>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                <tfoot>
                    <tr>
                        <td><a href="~/Default.cshtml" class="btn btn-warning"><i class="fa fa-angle-left"></i> Meer tickets kopen</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>&euro; @total</strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            </div>
            <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <form method="post">
                            <p>
                                @if (!WebSecurity.IsAuthenticated)
                                {
                                <label class="centertext" for="email">Uw e-mailadres:</label>
                               
                                <input type="text" name="email" value="@Request.Form["email"]" class="btn-block" required />
                                }
                                @Html.ValidationMessage("email")
                            </p>
                            <p>
                                <input name="buttonBetalen" type="submit" class="btn btn-success btn-block" value="Bestelling Betalen" />
                            </p>
                        </form>
                </div>
            </div>
    }
    else
    {
        <p class="centertext">
            Geen tickets in winkelwagen
        </p>
    }
</div>