@{
    Page.Title = "Winkelwagen";
    Layout = "~/_SiteLayout.cshtml";

    // Open database connection
    var db = Database.Open("Database");
    System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("nl-NL");

    // Create empty list of tickets
    List<Ticket> cart = new List<Ticket>();

    // Check if cart exists in current session
    if (Session["cart"] != null)
    {
        // Fill cart (List) with Tickets from session;
        cart = (List<Ticket>)Session["cart"];
    }

    // Prijzen berekenen
    var concertData = "SELECT * FROM Concerten";
    var concertenRow = db.Query(concertData);

    decimal total = 0.00m;

    foreach (var ticket in cart)
    {
        var korting = ticket.Korting;
        var concertId = ticket.Concert;

        var prijsData = "SELECT prijs FROM Concerten WHERE id = @0";
        var prijs = db.QueryValue(prijsData, concertId);

        if (korting)
        {
            total += (prijs / 10) * 9;
        }
        else
        {
            total += prijs;
        }
    }

    // Validation
    if (!WebSecurity.IsAuthenticated)
    {
        Validation.RequireFields("email");
    }

    // POST request
    if (IsPost)
    {
        if (!Request["buttonBetalen"].IsEmpty())
        {
            if (Validation.IsValid())
            {
                if (cart.Any())
                {
                    // POST request values
                    var email = Request.Form["email"];

                if (WebSecurity.IsAuthenticated)
                {
                    email = "ticketsysteem@nhl.nl";
                }

                // SQL statement for bestelling insertion (betaald attribute of bestelling is by default FALSE)
                var statementBestelling = "INSERT INTO Bestellingen (email) VALUES (@0)";

                    // Insert new bestelling into database
                    db.Execute(statementBestelling, email);

                    // Fetch bestelNr (unique ID) from database
                    var bestelNr = Convert.ToInt32(db.QueryValue("SELECT @@IDENTITY")); // // @@IDENTITY retrieves last auto generated id (auto_incremented) of this (current) connection

                    // SQL statement for ticket insertion
                    var statementTicket = "INSERT INTO Tickets (kindOf65plus, concertId, bestel_nr) VALUES (@0, @1, @2)";

                    // Loop through cart, add each ticket with it attributes to the database:
                    // linked to the bestelling created earlier, which is still unpaid: which
                    // makes the tickets invalid for now!!!
                    foreach (Ticket ticket in cart)
                    {
                        // Check if this is a discount ticket
                        if (ticket.Korting)
                        {
                            db.Execute(statementTicket, 1, ticket.Concert, bestelNr);
                        }
                        else
                        {
                            db.Execute(statementTicket, 0, ticket.Concert, bestelNr);
                        }
                    }

                    // Remove everything from cart (session) and abandon session
                    Session.RemoveAll();
                    Session.Abandon();

                    // Redirect to payment page with bestelNr in the request
                    // bestelNr makes it possible to retrieve all tickets linked to this bestelling
                    if (!WebSecurity.IsAuthenticated)
                    {
                        Response.Redirect("~/Betalen.cshtml?id=" + bestelNr);
                    }

                    else
                    {
                        var betaalStatement = "UPDATE Bestellingen SET betaald = 1 WHERE id = @0";
                        db.Execute(betaalStatement, bestelNr);
                        Response.Redirect("~/TicketGenereren.cshtml?id=" + bestelNr);
                    }
                }

                else
                {
                    Validation.AddFormError("Winkelwagen is leeg.");
                }
            }
        }

        if (!Request["deleteButton"].IsEmpty())
        {
            int concertId = Convert.ToInt16(Request.Form["concertId"]);
            bool korting = Convert.ToBoolean(Request.Form["korting"]);
            cart.RemoveAll(Ticket => (Ticket.Concert == concertId && Ticket.Korting == korting));

            // Store list of tickets in cart
            Session["cart"] = cart;

            // Redirect to cart
            Response.Redirect("~/Winkelwagen.cshtml");
        }

        if (!Request["refreshButton"].IsEmpty())
        {
            int concertId = Convert.ToInt16(Request.Form["concertId"]);
            bool korting = Convert.ToBoolean(Request.Form["korting"]);
            int aantal = Convert.ToInt16(Request.Form.Get("numberOfTickets")); 
            cart.RemoveAll(Ticket => (Ticket.Concert == concertId && Ticket.Korting == korting));

            for (int i = 0; i < aantal; i++)
            {
                Ticket ticket = new Ticket(concertId, korting);
                cart.Add(ticket);
            }

            // Store list of tickets in cart
            Session["cart"] = cart;

            // Redirect to cart
            Response.Redirect("~/Winkelwagen.cshtml");
        }
    }

    }
}
<div class="container" id="body">
    <h2 class="toptext">Winkelwagen</h2>
    <hr />
    @Html.ValidationSummary()
    @if (cart.Any())
    {
        // Show all tickets in cart
        <div class="row">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Concert</th>
                        <th style="width:10%">Prijs</th>
                        <th style="width:12%" class="text-center">Aantal</th>
                        <th style="width:20%" class="text-center">Subtotaal</th>
                        <th style="width:8%"></th>
                    </tr>
                </thead>
                    <tbody>
                        @foreach (var concert in concertenRow)
                        {
                            int aantal = 0;
                            var concertName = "";
                            decimal concertPrice = 0;
                            DateTime datum = DateTime.MinValue;
                            foreach (Ticket ticket in cart)
                            {
                                if (ticket.Korting == true)
                                {
                                    if (ticket.Concert == concert.id)
                                    {
                                        concertPrice = concert.prijs * 0.9m;
                                        concertName = concert.naam.ToString() + " met korting";
                                        datum = concert.datum;
                                        aantal++;
                                    }
                                }
                            }
                            var subtotal = aantal * concertPrice;
                            if (aantal != 0)
                            {
                                <tr>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <h4 class="nomargin">@concertName</h4>
                                                <p>@datum.ToString("dddd", ci) @datum.Day @datum.ToString("MMMM", ci) @datum.Year</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Prijs">&euro;@concertPrice.ToString("0.00")</td>
                                    <td data-th="Aantal">
                                        <form method="post">
                                            <div class="input-group">
                                                <input name="numberOfTickets" type="number" class="form-control text-center" id="regtick" min="0" step="1" value="@aantal">
                                                <span class="input-group-btn">
                                                    <button name="refreshButton" class="btn btn-info btn-sm" data-target="regtick" type="submit" value="refresh"><i class="fa fa-refresh"></i></button>
                                                </span>
                                                <input type="hidden" name="concertId" value="@concert.id" />
                                                <input type="hidden" name="korting" value="true" />
                                            </div>
                                        </form>
                                    </td>
                                    <td data-th="Subtotal" class="text-center">&euro;@subtotal.ToString("0.00")</td>
                                    <td class="actions" data-th="">
                                        <form method="post">
                                            <button name="deleteButton" class="btn btn-danger btn-sm" type="submit" value="delete"><i class="fa fa-trash-o"></i></button>
                                            <input type="hidden" name="concertId" value="@concert.id" />
                                            <input type="hidden" name="korting" value="true" />
                                        </form>
                                    </td>
                                </tr>
                            }
                            aantal = 0;
                            foreach (Ticket ticket in cart)
                            {
                                if (ticket.Korting == false)
                                {
                                    if (ticket.Concert == concert.id)
                                    {
                                        concertPrice = concert.prijs;
                                        concertName = concert.naam.ToString();
                                        datum = concert.datum;
                                        aantal++;
                                    }
                                }
                            }
                            subtotal = aantal * concertPrice;
                            if (aantal != 0)
                            {
                                <tr>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <h4 class="nomargin">@concertName</h4>
                                                <p>@datum.ToString("dddd", ci) @datum.Day @datum.ToString("MMMM", ci) @datum.Year</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Prijs">&euro;@concertPrice.ToString("0.00")</td>
                                    <td data-th="Aantal">
                                        <form method="post">
                                            <div class="input-group">
                                                <input name="numberOfTickets" type="number" class="form-control text-center" id="regtick" min="0" step="1" value="@aantal">
                                                <span class="input-group-btn">
                                                    <button name="refreshButton" class="btn btn-info btn-sm" data-target="regtick" type="submit" value="refresh"><i class="fa fa-refresh"></i></button>
                                                </span>
                                                <input type="hidden" name="concertId" value="@concert.id" />
                                                <input type="hidden" name="korting" value="false" />
                                            </div>
                                        </form>
                                    </td>
                                    <td data-th="Subtotal" class="text-center">&euro;@subtotal.ToString("0.00")</td>
                                    <td class="actions" data-th="">
                                        <form method="post">
                                            
                                            <button name="deleteButton" class="btn btn-danger btn-sm" type="submit" value="delete"><i class="fa fa-trash-o"></i></button>
                                            <input type="hidden" name="concertId" value="@concert.id" />
                                            <input type="hidden" name="korting" value="false" />
                                        </form>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                <tfoot>
                    <tr>
                        <td><a href="~/Default.cshtml" class="btn btn-warning"><i class="fa fa-angle-left"></i> Meer tickets kopen</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>&euro;@total.ToString("0.00")</strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            </div>
            <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <form method="post">
                                @if (!WebSecurity.IsAuthenticated)
                                {
                                <p class="centertext"><label class="centertext" for="email">Uw e-mailadres:</label></p>

                                <input type="text" name="email" value="@Request.Form["email"]" class="btn-block" required />
                                @Html.ValidationMessage("email")
                                }
                                else
                                {
                                    <p class="centertext">U bent ingelogd als beheerder en kunt nu tickets afrekenen voor de kassa.</p>
                                }
                            <p>
                                <input name="buttonBetalen" type="submit" class="btn btn-success btn-block" value="Bestelling Betalen" />
                            </p>
                        </form>
                </div>
            </div>
    }
    else
    {
        <p class="centertext">
            Geen tickets in winkelwagen
        </p>
    }
</div>